@media (max-width: 1117px) and (min-width: 898px) {
    /* header */
    .header {
        margin-bottom: 40px;
    }

    .header__logo {
        max-width: 150px;
        margin-left: 50px;
    }

    .nav__icon {
        width: 100%;
    }

    .header__item {
        margin-right: 78px;
    }

    .header__nav {
        justify-content: none;
        gap: 100px;
    }

    .header__list {
        gap: 60px;
    }

    main  {
        max-width: 924px;
    }

    /* offers */
    .container {
        margin-bottom: 40px;
    }

    .offers {
        overflow: hidden;
        max-height: 668px;
        background-image: url(/img/1024low-angle-photo-of-balconies-2462015\ 1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: var(--border-radius);
    }

    .offers__container {
        margin: 164px 77px 160px;
    }

    .text_h1 {
        margin-bottom: 12px;
        font-size: 60px;
        line-height: 73px;
    }

    .text_p_off {
        margin-bottom: 60px;
        font-size: 20px;
        line-height: 120%;
    }

    .offers__btn {
        font-size: 24px;
    }

    /* about */
    .container_two {
        margin-bottom: 80px;
    }

    .about__article_text {
        margin-bottom: 58px;
    }

    .about__left_card {
        min-width: 924px;
        min-height: 640px;
    }

    .about__right_card {
        min-width: 924px;
    }

    .about__icon {
        margin: 65px 50px 65px 77px;
    }

    /* stages */
    .container_three {
        margin-bottom: 85px;
    }

    .title_h2 {
        margin-bottom: 32px;
    }

    .title_h3 {
        margin-bottom: 10px;
    }

    .stages__card_text {
        max-width: 437px;
    }

    .text_stages {
        margin-bottom: 23px;
    }

    .stages__card_img {
         
        width: 437px; 
        height: 689px;
        background-image: url(/img/Rectangle\ 18\ \(1\).png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right bottom;  
        align-self: flex-end;
        border-radius: var(--border-radius);
    }

    /* questions */
    .container_for {
        margin-bottom: 80px;
    }

    .questions__card {
        max-width: 100%;
        min-height: 230px;
    }

    .card_text {
        padding: 65px 65px 63px 60px;
    }

    /* footer */
    .footer__container {
        margin: 50px;
    }

    .footer__column_two {
        margin-left: 0;
    }

    .footer__column_three {
        display: none;
    }

    .footer__form {
        min-width: 100%;
    }

    .footer__btn {
        min-width: 240px;
    }
}